
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background-color: black;
    font-family: 'Oswald', sans-serif;
}
h1{
    color: #fff;
}
.img1{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.one{
    color: #fff;
    font-size: 3.1rem;
    display: inline;
    margin-left: 350px;    
}
.two{
    color: #fff;
    display: inline;
    font-size: 3rem;
    margin-left: 710px;
}

.secondimg{
    position: relative;
    display: inline-block;
}
.img2{
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: 280px;
    margin-right: 200px;
    width: 1100px;
    height: 700px;
    border-radius: 20px;
}

.t1{
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46.5%,-51%);
    text-align: center;
    font-size: 3.5rem;
    word-spacing: 40px;
    font-weight:900 lighter;
}
.t1-span{
    color: #565656;
}

.t2{
    margin: 80px 0px 100px 48%;
}

.container1 img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px;
}

  
.t3{
    color: #fff;
    margin: 200px 47%;
    border: 2px solid rgb(0, 0, 0);
    font-weight: lighter;
    word-spacing: 40px;
}

.topimg>.a1,.a2{
    width: 720px;
    height: 500px;
    display: inline;
    border-radius: 10px;
}
.a1{
    margin: 50px 0px 50px 83px;
}
.a2{
    margin: 50px 0px 50px 63px;
}
.a3{
    width: 90%;
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
.t4{
    margin: 150px 0px 150px 90px;
    font-weight:600 lighter;
    word-spacing: 90px;
    color: #646464;
}
.a4{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    width: 1100px;
    height: 600px;
    margin-bottom: 150px;
}
.t5{
    margin: 180px 0px 80px 120px;
    font-family: monospace;
    font-size: 5rem;
    font-weight: lighter;
}
video{
    margin: -95px 0px 50px 800px;
}
.b1 {
    position: absolute;
    color: #fff;
    margin: 490px 2px 20px 120px;
    width: 500px;
    font-family: monospace;
    font-weight: bold;
}
.b2{
    position: absolute;
    color: #fff;
    margin: 540px 2px 20px 120px;
    width: 500px;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
}
