
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');


*{
    margin-top: 150px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
   background: black;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}